.bunny-head{
    position:absolute;
    background-color:#fabdff;
    border:1px solid #b87bbd;
    height:200px;
    width:200px;
    border-radius:50%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

.bunny-left-ear,.bunny-right-ear,.bunny-left-inner-ear,.bunny-right-inner-ear,.bunny-nose{
    position:relative;
    border:1px solid black;
}

.bunny-left-ear{
    position:absolute;
    top:50px;
    left:20px;
    background-color:#fabdff;
}

.bunny-right-ear{
    position:absolute;
    top:50px;
    left:100px;
    background-color:#fabdff;
}
.bunny-left-eye{
    position:absolute;
    top:-60px;
    left:-60px;
    background-color:#000;
    width:45px;
    height:70px;
}
.bunny-right-eye{
    position:absolute;
    top:-60px;
    left:-100px;
    background-color:#000;
    width:45px;
    height:70px;
}