.bunny-head{
    position:relative;
    background-color:#fabdff;
    border:1px solid black;
    height:200px;
    width:200px;
    border-radius:50px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:20px auto;
}

.bunny-left-ear,.bunny-right-ear,.bunny-left-inner-ear,.bunny-right-inner-ear,.bunny-nose{
    position:relative;
    border:1px solid black;
}