*{
    box-sizing:border-box;
}
.bunny-head{
    position:absolute;
    background:linear-gradient(#fabdff 85%, #b87bbd 100%);
    border:1px solid #b87bbd;
    height:200px;
    width:200px;
    border-radius:50%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index:1;
}
.bunny-left-ear{
    position:absolute;
    bottom:140px;
    left:5px;
    background-color:#fabdff;
    height:150px;
    width:50px;
    border-radius:40%;
    transform:rotate(-10deg);
    z-index:0;
}

.bunny-right-ear{
    position:absolute;
    bottom:140px;
    left:140px;
    background-color:#fabdff;
    height:150px;
    width:50px;
    border:1px solid #b87bbd;
    border-radius:40%;
    transform:rotate(10deg);
    z-index:0;
}
.bunny-left-eye{
    position:absolute;
    top:60px;
    left:35px;
    background-color:#000;
    width:30px;
    height:40px;
    border-radius:50%;
    transform:rotate(-10deg);
}
.bunny-right-eye{
    position:absolute;
    top:60px;
    left:130px;
    background-color:#000;
    width:30px;
    height:40px;
    border-radius:50%;
    transform:rotate(10deg);
}
.bunny-nose{
    position:absolute;
    width:20px;
    border-bottom-left-radius:40%;
    border-bottom-right-radius:40%;
    height:10px;
    background:linear-gradient(#e495e1,#9e599b);
    bottom:0;
    left:0;
    top:40px;
    right:0;
    margin:auto;
}
.bunny-right-inner-eye{
    position:absolute;
    bottom:15px;
    left:15px;
    background-color:#fff;
    width:10px;
    height:20px;
    border-radius:50%;
    transform:rotate(10deg);
}
.bunny-left-inner-eye{
    position:absolute;
    bottom:15px;
    right:15px;
    background-color:#fff;
    width:10px;
    height:20px;
    border-radius:50%;
    transform:rotate(-10deg);
    z-index:0;
}
.bunny-right-inner-ear{
    position:absolute;
    bottom:170px;
    left:150px;
    background-color:#a268a8;
    height:100px;
    width:30px;
    border-radius:40%;
    transform:rotate(10deg);
    z-index:0;
    
}
.bunny-left-inner-ear{
    position:absolute;
    bottom:170px;
    left:13px;
    background-color:#a268a8;
    height:100px;
    width:30px;
    border-radius:40%;
    transform:rotate(-10deg);
}

.bunny-mouth div{
    width:60px;
    height:60px;
    border:2px solid #000;
    border-radius:70%/90px 50px 0 0;
    border-color: black transparent transparent transparent;
}

.bunny-left-mouth{
    position:absolute;
    bottom:40px;
    left:50px;
    transform:rotate(-200deg);
}
.bunny-right-mouth{
    position:absolute;
    top:100px;
    left:100px;
    transform:rotate(180deg);
}