.bunny-head{
    position:absolute;
    background-color:#fabdff;
    border:1px solid #b87bbd;
    height:200px;
    width:200px;
    border-radius:50%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.bunny-left-ear{
    position:absolute;
    top:40px;
    left:20px;
    background-color:#fabdff;
    height:70px;
    width:20px;
    border:1px solid #b87bbd;
}

.bunny-right-ear{
    position:absolute;
    top:40px;
    left:175px;
    background-color:#fabdff;
    height:70px;
    width:20px;
    border:1px solid #b87bbd;
}
.bunny-left-eye{
    position:absolute;
    top:60px;
    left:50px;
    background-color:#000;
    width:45px;
    height:70px;
}
.bunny-right-eye{
    position:absolute;
    top:60px;
    left:180px;
    background-color:#000;
    width:45px;
    height:70px;
}