*{
    box-sizing:border-box;
}
.bunny-head{
    position:absolute;
    background-color:#fabdff;
    border:1px solid #b87bbd;
    height:200px;
    width:200px;
    border-radius:50%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index:1;
}
.bunny-left-ear{
    position:absolute;
    top:-70px;
    left:10px;
    background-color:#fabdff;
    height:150px;
    width:50px;
    border:1px solid #b87bbd;
    border-radius:40%;
    transform:rotate(-10deg);
    z-index:-1;
}

.bunny-right-ear{
    position:absolute;
    top:-70px;
    left:130px;
    background-color:#fabdff;
    height:150px;
    width:50px;
    border:1px solid #b87bbd;
    border-radius:40%;
    transform:rotate(10deg);
    z-index:0;
}
.bunny-left-eye{
    position:absolute;
    top:60px;
    left:35px;
    background-color:#000;
    width:30px;
    height:40px;
    border-radius:50%;
    transform:rotate(-10deg);
}
.bunny-right-eye{
    position:absolute;
    top:60px;
    left:130px;
    background-color:#000;
    width:30px;
    height:40px;
    border-radius:50%;
    transform:rotate(10deg);
}
.bunny-nose{
    position:absolute;
    width:20px;
    border-radius:20%;
    height:10px;
    background:linear-gradient(#d3c08b,#b29e69);
}
.bunny-right-inner-eye{
    position:absolute;
    bottom:15px;
    left:15px;
    background-color:#fff;
    width:10px;
    height:20px;
    border-radius:50%;
    transform:rotate(10deg);
}
.bunny-left-inner-eye{
    position:absolute;
    bottom:15px;
    right:15px;
    background-color:#fff;
    width:10px;
    height:20px;
    border-radius:50%;
    transform:rotate(-10deg);
}