*{
    box-sizing:border-box;
}
.bunny-head{
    position:absolute;
    background-color:#fabdff;
    border:1px solid #b87bbd;
    height:200px;
    width:200px;
    border-radius:50%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.bunny-left-ear{
    position:absolute;
    top:40px;
    left:20px;
    background-color:#fabdff;
    height:100px;
    width:50px;
    border:1px solid #b87bbd;
    border-radius:20%;
}

.bunny-right-ear{
    position:absolute;
    top:40px;
    left:175px;
    background-color:#fabdff;
    height:100px;
    width:50px;
    border:1px solid #b87bbd;
    border-radius:20%;
}
.bunny-left-eye{
    position:absolute;
    top:420px;
    left:450px;
    background-color:#000;
    width:30px;
    height:40px;
    border-radius:50%;
}
.bunny-right-eye{
    position:absolute;
    top:420px;
    left:550px;
    background-color:#000;
    width:30px;
    height:40px;
    border-radius:0%;
}